nav {
  height: 120px;
  width: 100%;
  background-color: #664a80;
  color: #FFFFFF;
  padding: 1.5em;
  position: fixed;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.nav-msg {
  float: right;
  text-align: center;
  /*justify-content: center; */
}

.fa-angle-double-down {
  color: #e8ca54;
  font-size: 20px;
}