#err-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px double #CA0000;
  margin: 20px 20px 0 20px;
  color: #CA0000;
}

article.err-text {
  display: flex;
  align-items: center;
  padding: 5px;
}

article.err-text p {
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}


form {
  width: auto;
  margin: 0 20px;
 }

label {
  display: flex;
  font-weight: bold;
  margin-top: 1em;
 }

textarea {
  width: 100%;
  height: 1.5em;
  font-size: 18px;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid #545149;
  margin-top: 0.5em;
  resize: none;
  outline: none; 
}

.tweet-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-count button {
  color: #f4f1ec; 
  background-color: #674b99;
  font-family: 'Bungee', cursive;
  padding: 0.3em;
}

.tweet-count output {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Bungee', cursive;
}

.exceed-count {
  color: #CA0000;
}